* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: mid;
    src: url(font/Poppins-Regular.ttf);}
    @font-face {
    font-family: mid2;
    src: url(font/Poppins-Medium.ttf);}
@font-face {
    font-family: main;
    src: url(font/PlayfairDisplay-Regular.ttf);}
@font-face {
    font-family: main2;
    src: url(font/PlayfairDisplay-Bold.ttf);}
@font-face {
    font-family: molli;
    src: url(font/brown-sugar.ttf);
}

@font-face {
    font-family: homefont;
    src: url(font/thinoobold.otf);
}

.navbar-brand {
    font-family: molli;
    font-size: 40px;
}

.nav-item {
    font-size: 18px;
}

.navbar {
    box-shadow: 0px 1px 7px black;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: sticky;
}

.btn {
    padding-right: 20px;
}

.heart {
    padding-left: 15px;
    padding-right: 15px;
}

#carouselExampleSlidesOnly {
    position: sticky !important;
}

/* home */
.heart-icon,.cart-icon {
    cursor: pointer;
    color: black;
    transition: 0.3s ease;
}

.heart-icon.active {
    color: rgb(170, 5, 5);
}

.cart-icon.active {
    color: rgb(143, 101, 80);
}



/* .home {

    width: 100%;
    height: 720px;
margin: auto;
    opacity: 0.7;
    padding: 60px;

}

.home1 {
    width: 1150px;
    height: 590px;
    border: 4px solid white;
    padding-top: 50px;
margin: auto;
}

.home2 {
    margin: auto;
    padding-left:35px;
    width: 800px;
    height: 480px;
    background: white;
    display: flex;
    justify-content: center;

}


.main-img {
    margin-top: 90px;
    width: 100%;
    margin-left: 10px;
    
    border-radius: 30px;
    border: 4px solid black;
    position: relative;
}

.logo {
    font-size: 100px;
    font-family: molli;
    position: absolute;
    bottom: 190px;
    margin-left: 0px;
}



.home4 {
    margin-top: 250px;
}

.home3 {
    margin-top: 10px;
} */    
.home{
    background:#c9c0bf;
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}
.exp1:hover{
color: #fff;
border:2px solid #fff  ;
}



/* home done */
/* whats new */
.what h1 {
    font-family: molli;
    font-size: 50px;
}

swiper-container {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

swiper-slide {
    width: 300px !important;
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid black;
}
swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    
}

.what {
    margin-bottom: 30px;
}
.sbox{
    width: 80px;
    height: 80px;
    margin: 10px;
    background: black;
    border-radius: 20px;
    
}
.xx{
    width: 80px;
    height: 80px;

    background: black;
    border-radius: 20px;
    
}
.atw:hover{
background: rgb(255, 104, 129);
}
.month{
    width: 150px;
    height: 50px;
    background: rgb(216, 215, 215);
    border-radius:10px ;
    margin: 10px;
    text-align: center;
    padding-top: 8px;
   
}
.month:hover{
    background: rgb(254, 222, 203);
}
.month1{
    width: 155px;
    height: 50px;
    background: rgb(216, 215, 215);
    border-radius:10px ;
    margin: 10px;
    text-align: center;
 padding-top: 8px;
 
}
.month1:hover{
    background: rgb(254, 222, 203);
}
.plus{
    width: 50px;
   height: 50px;
   background: rgb(222, 222, 222);
    margin: 10px;
    text-align: center;
   
}

.pin input{
    font-family: demo;
    border: none;
text-align: center;
 width: 190px;
 
 
}


/* what end */
/* products */

.box {
    overflow: hidden !important;
    height: 380px;
    border-radius: 30px;
    width: 250px;
    margin: auto;
}

.products h1 {
    font-family: molli;
}

.p-img {
    width: 250px;
    height: 380px;
    border-radius: 30px;
    object-fit: cover;
    transition: 1s ease;
    overflow: hidden;
}

.p-img:hover {
    width: 300px;
    transform: scale(1.9s);
    height: 400px;
    overflow: hidden;
    filter: grayscale(100%);

}
.pin{
    width: 200px;
    height: 50px;
    border: 3px solid gray;
    margin: 10px;
    padding-top:10px ;
    border-radius: 10px;
}
.pin p{
    text-decoration: underline;
    text-align: center;
}
.pin1{
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 10px;
    background: rgb(252, 215, 189);
margin: 10px;
border-radius: 10px;
}

/*  */
.take h1 {
    font-family: molli;
}

.top {
    font-family: molli;
    margin: 20px;
    /* padding: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.card-container {
    perspective: 1000px;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1.4s;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front1,
.back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front {
    background: aqua url(img/top\ selling/1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.front1 {
    background: aqua url(img/top\ selling/2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back {
    background: blueviolet url(img/top\ selling/11.jpg);
    background-size: cover;
    color: aliceblue;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.back1 {
    background: blueviolet url(img/top\ selling/12.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.flip {
    width: 200px !important;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

/*  */
.front2,
.back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front2 {
    background: aqua url(img/top\ selling/3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back2 {
    background: blueviolet url(img/top\ selling/13.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
.front3,
.back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front3 {
    background: aqua url(img/top\ selling/4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back3 {
    background: blueviolet url(img/top\ selling/14.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
.front4,
.back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front4 {
    background: aqua url(img/top\ selling/5.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back4 {
    background: blueviolet url(img/top\ selling/15.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
.front5,
.back5 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front5 {
    background: aqua url(img/top\ selling/6.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back5 {
    background: blueviolet url(img/top\ selling/16.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
.front6,
.back6 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front6 {
    background: aqua url(img/top\ selling/7.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back6 {
    background: blueviolet url(img/top\ selling/17.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
.front7,
.back7 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front7 {
    background: aqua url(img/top\ selling/8.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back7 {
    background: blueviolet url(img/top\ selling/18.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.icon input{
    width: 270px;
    height: 40px;
    margin-top: 5px;
}
.search{
    align-items: center;
}
/*  */
.front8,
.back8 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front8 {
    background: aqua url(img/top\ selling/9.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back8 {
    background: blueviolet url(img/top\ selling/19.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
.front9,
.back9 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front9 {
    background: aqua url(img/top\ selling/10.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back9 {
    background: blueviolet url(img/top\ selling/20.jpg);
    background-size: cover;

    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*  */
/* test */
.test {
    font-family: molli;
}

@font-face {
    font-family: demo;
    src: url(font/Diastema\ Bold.ttf);
}

.test1 {
    text-align: center;
    font-size: 18px;
    width: 600px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.test2 {
    text-align: center;
    font-size: 18px;
    width: 580px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.test3 {
    text-align: center;
    font-size: 18px;
    width: 600px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.test4 {
    text-align: center;
    font-size: 18px;
    width: 600px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test1 img {
    width: 80% !important;
    height: 95% !important;
    border-radius: 50px;

}

.test2 img {
    width: 80% !important;
    height: 95% !important;
    border-radius: 50px;
}

.test3 img {
    width: 80% !important;
    height: 95% !important;
    border-radius: 50px;

}

.test4 img {
    width: 80% !important;
    height: 95% !important;
    border-radius: 50px;
}

.myswiper1 {
    width: 60%;
    height: 600%;
}

/* test */
/* vr */
.vr1 video {
    width: 220px;
    height: 320px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    object-fit: cover;
}

.vr2 video {
    width: 220px;
    height: 320px;
    background: rgb(246, 243, 243);
    border-radius: 40px;
    object-fit: cover;

}

.vr3 video {
    width: 220px;
    height: 320px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    object-fit: cover;
}

.vr4 video {
    width: 220px;
    height: 320px;
    background: rgb(249, 249, 249);
    border-radius: 40px;
    object-fit: cover;
}

.vr5 video {
    width: 220px;
    height: 320px;
    background: rgb(250, 249, 249);
    border-radius: 40px;
    object-fit: cover;
}

/* end */
.studio video {
    width: 900px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

/* studio end */
/* blog */
.card-img-top {
    width: 277px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}

.mySwiper2 {
    width: 300px;
    height: 400px;
}

.blog2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    height: 400px;
    width: 310px !important;

}

.blog2:nth-child(1n) {
    background-color: rgb(255, 255, 255);
}

.blog2:nth-child(2n) {
    background-color: rgb(255, 255, 255);
}

.blog2:nth-child(3n) {
    background-color: rgb(255, 255, 255);
}

.blog2:nth-child(4n) {
    background-color: rgb(255, 255, 255);
}

.blog2:nth-child(5n) {
    background-color: rgb(255, 255, 255);
}

/* brand */
.logos-slide img {

    height: 160px;
    border-radius: 150px;
    object-fit: cover;
    margin: 0px 40px;
}

.logos-slide {
    display: inline-block;
    animation: 7s slide infinite linear;

}
.rowlogo:hover .logos-slide{
    animation-play-state: paused
}

.rowlogo {
    overflow: hidden;
    padding: 60px 0px;
    background: white;
    white-space: nowrap;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* whats html */
/* slider */
.first{
    width: 100%;
    margin: auto;
    padding-top: 30px;
    margin-left: 150px;
}
.side1{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sec{
    text-align: left;
    width: 100%;
    margin: left;
    padding-top: 30px;

}
